{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}


                            {% block page_product_detail_buy_button %}
                            
                            {% if feature('v6.5.0.0') %}
                                    <div class="d-grid">
                                        <button class="btn btn-primary btn-buy"
                                                title="{{ "detail.addProduct"|trans|striptags }}"
                                                aria-label="{{ "detail.addProduct"|trans|striptags }}">
                                            {{ "detail.addProduct"|trans|sw_sanitize }}
                                        </button>
                                    </div>
                                {% else %}
                                    
                                    <button class="btn btn-primary btn-block btn-buy"
                                            title="{{ "detail.addProduct"|trans|striptags }}"
                                            aria-label="{{ "detail.addProduct"|trans|striptags }}"
                                            >                                       
                                            {{ "detail.addProduct"|trans|sw_sanitize }}

                                    </button>
                                    
                                     <button class="btn btn-secondary btn-block btn-buy" 
                                            title="{{ "detail.addProduct"|trans|striptags }}"
                                            aria-label="{{ "detail.addProduct"|trans|striptags }}">
                                            {{ "MySnippet.AddedToShoppingCart"|trans|sw_sanitize }}
                                            
                                    </button>
                                    
                                {% endif %}
                            
                               
                            {% endblock %}
                      
                      